@page
@model TennisPlatformProject.Pages.LoginMainModel
@{
    ViewData["Title"] = "Main";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
        /* Styling for the body */
        body {
            background-image: url('/images/background-image.JPG');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; 
            margin: 0; 
            padding: 0; 
        }

    </style>
</head>
<!-- Content centered in the middle of the page -->
<body style="height: 100vh;">
    <div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="display-4 text-white">Welcome to Crosshaven Tennis Club</h1>
        <p class="lead text-white">
            Experience the thrill of tennis at our premier Tennis Club! With state-of-the-art facilities, professional coaching, and a friendly atmosphere, we offer the perfect environment for players of all levels.

            Join us now!.
        </p>
    </div>
</body>
</html>
